{#
/**
 * @file recruitment-summary.html.twig
 * Default theme implementation to present recruitment summary entity data.
 *
 * Available variables:
 * - summaries: List of summaries grouped by campaign, each containing
 *     - accepted: summary of accepted recruitments
 *     - created: summary of pending recruitments
 *
 * @see template_preprocess_recruitment_summary()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('recruitment-summary') }}>
  {% for states in summaries %}
    {% for summary in states %}
      {% if loop.first %}
        <h2>{{ summary.getCampaign().getName() }}:</h2>
      {% endif %}

      {% if summary.hasResults() %}
        <div>{{ ":state recruitments"|t({":state": summary.getState()|capitalize}) }}: {{ summary.getCount() }} ({{ summary.totalPrice|commerce_price_format }})</div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
