{#
/**
 * @file recruitment-rewards.html.twig
 * Default theme implementation to present reward entity data.
 *
 * Available variables:
 * - rewards: A list of reward entities
 *
 * @see template_preprocess_recruitment_reward()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('recruitment-reward') }}>
  <ul>
    {% for reward in rewards %}
      <li>
        <a href="{{ path("entity.commerce_recruitment_reward.canonical", {"commerce_recruitment_reward": reward.id() }) }}">
          {{ reward.getName() }}: {{ reward.getPrice() }} ({{ reward.getState().id() }})
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

